<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="picture/wishlist.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div id="img-logo">
    <a href="/"> <img src="picture/picture/logo.png" alt="logo" width="70" height="55"> </a>
</div>

<h1>LAV DIN ØNSKELISTE</h1>

<form action="/wishlist" method="post">
    <label for="wish">Wish:</label>
    <input type="text" name="wish"><br>
    <button type="submit">SEND!</button>

</form>




</body>
</html>